table tr td{
    vertical-align: middle;
}

td button{
    margin: 5px;
}

td button i{
    font-size: 20px;
}

.modal-header{
    background: #e6b813;
    color: #fff;
}

.modal-body form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

.modal-body form .imgholder{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.imgholder .upload{
    position: absolute;
    bottom: 0;
    left: 10;
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload i{
    color: #fff;
    font-size: 35px;
}

.imgholder:hover .upload{
    display: flex;
}

.imgholder .upload input{
    display: none;
}

.modal-body form .inputField{
    flex-basis: 68%;
    border-left: 5px groove rgb(255, 222, 4);
    padding-left: 20px;
}

form .inputField > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

form .inputField > div label{
    font-size: 20px;
    font-weight: 500;
}

#userForm form .inputField > div label::after{
    content: "*";
    color: red;
}

form .inputField > div input{
    width: 75%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid rgb(211, 132, 6);
}

.modal-footer .submit{
    font-size: 18px;
}


#readData form .inputField > div input{
    color: #000;
    font-size: 18px;
}


 /*------------test----------*/
 .test{
	padding-top: 100px;
}
 .test .col-3{
	 text-align: center;
	 padding: 40px 20px;
	 box-shadow: 0 0 20px 0px rgba(0 ,0,0,0.1);
	 cursor: pointer;
	 transition:transform 0.5s;
 }
 .test .col-3:hover{
	 transform: translateY(-10px);
 }

 .col-3 p{
	 font-size: 15px;
	 margin: 12px 0;
	 color: #777;
 }
 .test .col-3 h3{
	 font-weight: 600;
	 color: #555;
	 font-size: 18px;
 }
 .head{
	 font-size: 30px;
	 padding-left: 50px;
 }
/*----------------slide------------------*/
@media(max-width: 700px){
	.row{
		flex-direction: column;
	}

}
.employeeDetails {
    background: transparent;
    color: #0c0b0b;
    padding: 10px;
	width: 50px;
	border: none;
}

.employeeDetails td {
    width: 30px;
    background: transparent;
   color: rgb(19, 14, 14);
   	border: none;
}
#employeeDetailsName{
	background-color: rgb(244, 37, 37);
}

.employeeDetails tr{
	width: 50px;
}

table tr td{
    vertical-align: middle;
}

td button{
    margin: 5px;
}

td button i{
    font-size: 20px;
}


.modal-header{
    background: #ffb700;
    color: #fff;
}

.modal-body form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

.modal-body form .imgholder{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.imgholder .upload{
    position: absolute;
    bottom: 0;
    left: 10;
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload i{
    color: #fff;
    font-size: 35px;
}

.imgholder:hover .upload{
    display: flex;
}

.imgholder .upload input{
    display: none;
}

.modal-body form .inputField{
    flex-basis: 68%;
    border-left: 5px groove rgb(255, 115, 0);
    padding-left: 20px;
}

form .inputField > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

form .inputField > div label{
    font-size: 20px;
    font-weight: 500;
}

#userForm form .inputField > div label::after{
    content: "*";
    color: red;
}

form .inputField > div input{
    width: 75%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid #ffb700;
}

.modal-footer .submit{
    font-size: 18px;
}


#readData form .inputField > div input{
    color: #000;
    font-size: 18px;
}


#yButton{
    color: #000;
    background: #e6b813;
}